---
import Algebra from "../Algebra";
import LambdaCalculus from "../LambdaCalculus";
import TypeTheory from "../TypeTheory";
---

<h2>Algebra</h2>
<Algebra />
<h2>Lambda Calculus</h2>
<LambdaCalculus />
<h2>Type Theory</h2>
<TypeTheory />