---
import articleIndex from "../../articles/articles.json";
import SegmentIndexFactory from "../../components/site/SegmentIndexFactory";
import { getDisplayName } from "../../utils/articleUtility";

const contents = [
  "algebra",
  "lambda-calculus",
  "type-theory"
];
---

{contents.map(content => (
  <h2>{getDisplayName(articleIndex, content)}</h2>
  <SegmentIndexFactory jsonIndex={articleIndex} segment={content} />
))}
