---
import TopIndex from "../templates/TopIndex";
import MainColorDivider from "../components/design/MainColorDivider";
import VerticalSpacer from "../components/design/VerticalSpacer";
import TopPageWrapperLayout from "../layouts/TopPageWrapperLayout.astro";
---

<TopPageWrapperLayout title="index">
  <MainColorDivider />
  <p>澄(<a href="https://toyskip725.github.io/">toyskip725.github.io</a>)の勉強ノートです。</p>
  <TopIndex />
  <h1>Links</h1>
  <a href="https://toyskip725.github.io/">toyskip725.github.io</a>  
  <VerticalSpacer height={"100px"}/>
</TopPageWrapperLayout>
