---
import MainColorDivider from "../components/design/MainColorDivider";
import TopPageWrapperLayout from "../layouts/TopPageWrapperLayout.astro";
import NoteGraph from "../components/site/NoteGraph.astro";
import NoteList from "../components/site/NoteList.astro";

const title = "ノート一覧";
---

<TopPageWrapperLayout title={title}>
  <h1>{title}</h1>
  <MainColorDivider />
  <div class="posts">
    <NoteGraph />
    <NoteList />
  </div>
</TopPageWrapperLayout>
