---
import MainColorDivider from "../../components/design/MainColorDivider";
import FooterLink from "../../components/link/FooterLink";
import TopPageWrapperLayout from "../../layouts/TopPageWrapperLayout.astro";
import TypeTheory from "../../templates/TypeTheory";

const title = "Type Theory";
const baseUrl = import.meta.env.SITE.includes("localhost") 
    ? import.meta.env.SITE
    : import.meta.env.SITE + import.meta.env.BASE_URL;
---

<TopPageWrapperLayout title={title}>
  <h1>{title}</h1>
  <MainColorDivider />
  <TypeTheory />
  <FooterLink title={"ノート一覧に戻る"} url={`${baseUrl}/posts`} icon={"back"} />
</TopPageWrapperLayout>