name: Deploy to GitHub Pages

on:
  # `main` ブランチへプッシュされるたびにワークフローを実行します
  push:
    branches: 
      - main

  # このワークフローを GitHub の Actions タブから手動で実行できるようにします。
  workflow_dispatch:

# このジョブがリポジトリをクローンし、ページデプロイメントを作成することを許可します。
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: "./package-lock.json"

      - name: Install
        shell: "bash"
        working-directory: "."
        run: |
          npm install "./sumiml-core-0.1.0.tgz"
          npm install "./sumiml-math-0.1.0.tgz"
          npm install "./sumiml-util-0.1.0.tgz"
          npm install "./sumiml-astro-integration-0.1.0.tgz"
          npm install

      - name: Build
        shell: "bash"
        working-directory: "."
        run: npm run build

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./dist/"

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4